body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f7f9;
}

/* Style untuk simulasi data real-time */
.sensor-card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.hazard-level-low {
    background-color: #34d399;
    /* Green-400 */
}

.hazard-level-medium {
    background-color: #fbbf24;
    /* Amber-400 */
    animation: pulse-medium 2s infinite;
}

.hazard-level-high {
    background-color: #f87171;
    /* Red-400 */
    animation: pulse-high 1s infinite;
}

@keyframes pulse-medium {

    0%,
    100% {
        box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.4);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(251, 191, 36, 0);
    }
}

@keyframes pulse-high {

    0%,
    100% {
        box-shadow: 0 0 0 0 rgba(248, 71, 113, 0.4);
    }

    50% {
        box-shadow: 0 0 0 15px rgba(248, 71, 113, 0);
    }
}